*{
    background-color: white;
}

h3{
    font-size: 32px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: #ff6fa5;
    font-weight: 800;
    margin-top: 40px;
}

.wrap_video{
    height: 600px;
}

.video{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    width: 80%;
    height: -webkit-fill-available;
}

h4{
    margin-left: 20px;
    font-size: 32px;
    font-weight: bold;
    color: red;
    padding: 30px;
}

.scroll-down{
    font-size: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #ff6fa5;
}

a{
    color: #ff6fa5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

a:hover{
    color: #d11b5e;
}