

.container{
    display: flex;
    justify-content: center;
}

.introduc_img{
    display: flex;
    flex-direction: column;
    animation-name:move-left-to-right ;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.introduc_img img {
    width: 500px;
    padding:10px 20px;
}

.introduction{
    margin-left: 10%;
}

.introduction_name{
    font-size: 78px;
    position: relative;
    top: 6%;
    font-family: 'Sterilict', sans-serif;
    word-wrap: break-word;
    width: 401px;
    animation-name: move-bot-to-top;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.more-1{    
    position: relative;
    transform: translateY(-50%);
    display: inline-block;
    top: 28%;
    right: -306px;
    animation-name: move-right-to-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.more-1 a{
    color: #000;
    text-decoration: none;
}

.infomation_viet{
    position: relative;
    top: 52%;
    display: flex;
    animation-name: move-top-to-bot;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    justify-content:space-between;
}

.info_job{
    font-family: 'DM Sans';
    
}

.icon_info span{
    color: #A8A8A8;
    text-decoration: underline;
    margin-bottom: 6px;
    font-size: 14px;
    display: block;
}

.icon_info div i {
    color: #848484;
    font-size: 28px;
    padding: 8px;
}

