*{
    font-family: 'DM Sans'!important;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.back{
    position: relative;
    padding: 8px;
    top: 26px;
    left: 30px;
    animation-name: move-left-to-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.back a{
    text-decoration: none;
    color: #000;
}

.first_item{
    display: flex;
    margin-top: 10px;
    padding: 30px;
    align-items: center;
}

.quotes{
    transform: translateY(90%);
    align-items: end;
    animation-name: move-left-to-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.img img{
    width: 500px;
    margin-left: 50px;
    animation-name: move-right-to-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.member{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 4%;
}

.member_item{
    width: 25%;
    animation-name:move-top-to-bot;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.name{
    font-weight: bold;
}

.job{
    font-weight: bold;
    margin-top: 8px;
}

.decription{
    margin-top: 20px;
}
