*{
    background-color:#EDECED;
}

.container{
    display: flex;
    justify-content: center;
}

.img{
    
}

.img img{
    width: 500px;
    height: 600px;
    object-fit: cover;
    animation-name: move-left-to-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.path{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 12%;
}

.back{
    margin-right:120px ;
    animation-name: move-left-to-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.back a{
    color: #000;
    text-decoration: none;
}

.more{
}

.more_page i{
    color: red ;
    font-size: 28px;
}   

.more_page a{    
    color: #000;
    text-decoration: none;
    padding: 16px;
    display: block;
    margin: 8px;
    animation-name: move-right-to-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.more_page i{

}